[user]
    name = Nathan Schulte
    email = nmschulte@gmail.com
[core]
    #autocrlf = input
[alias]
    a = add
    aa = add .

    gr = log --graph --oneline --decorate --date-order
    gra = log --all --graph --oneline --decorate --date-order
    grat = log --all --graph --oneline --decorate --topo-order

    s = status

    st = stash

    b = branch
    bd = branch --delete

    co = checkout
    cob = checkout -b

    f = fetch --verbose
    fp = fetch --prune --verbose
    fa = fetch --all --verbose
    fap = fetch --all --prune --verbose

    d = diff
    dd = diff develop
    dc = diff --cached

    p = push
    pf = push --force
    pfo = push --force origin

    pp = pull

    c = commit
    ca = commit --amend
    car = commit --amend --reset-author
    can = commit --amend --no-edit
    carn = commit --amend --reset-author --no-edit
    cm = commit --message
[color]
    ui = true
[push]
    default = current
[merge]
    conflictstyle = diff3
    #tool = fugitive
    tool = vimdiff3
[mergetool "fugitive"]
    cmd = vim -f -c "Gdiff" "$MERGED"
    #cmd = gvim -f -d -c \"wincmd J\" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[mergetool "vimdiff3"]
    cmd = vim -f -d -c \"wincmd J\" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
    trustExitCode = false
